@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.menuitemStyle {
  color: white !important;
  font-family: Montserrat;
}

#navbarScroll {
  background-color: rgba(13, 81, 49, 1);
}
